@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('ttf');
}

@font-face {
    font-family: 'Mulish', sans-serif;
    src: url(../fonts/Mulish/Mulish-VariableFont_wght.ttf) format('ttf');
}